<div class="Category-Content">
    <h2 class="text-Cate">Category</h2>
    <div class="categories">
        <div class="category-item">
            <img class="img-Cate" src="img/1.png" width="90" height="100">
            <span class="text">Beauty & Personal Care</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/2.jpg" width="90" height="100">
            <span class="text">Men Clothes</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/3.png" width="90" height="100">
            <span class="text">Bags</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/4.png" width="90" height="100">
            <span class="text">Women Shoes</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/5.png" width="90" height="100">
            <span class="text">Watches & Glasses</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/6.png" width="90" height="100">
            <span class="text">Cameras</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/7.png" width="90" height="100">
            <span class="text">Men Shoes</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/8.jpg" width="90" height="100">
            <span class="text">Women Clothes</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/9.png" width="90" height="100">
            <span class="text">Mobile & Tablets</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/10.png" width="90" height="100">
            <span class="text">Computer & Laptops</span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/11.jpg" width="90" height="100">
            <span class="text">Sport & Beverages </span>
        </div>
        <div class="category-item">
            <img class="img-Cate" src="img/12.png" width="90" height="100">
            <span class="text">Pet</span>               
        </div>
    </div>