<div class="navbar-brand">
    <div class="title-container">
        <h1 onclick="window.location.href='/'">Shopping Online</h1>
        <img src="/img/shopping-cart.png" width="52" height="50">
    </div>
    <div class="main-content" id="main">
        <button class="open-btn" onclick="openNav()">☰</button>
        <div class="profile-container">
            <img src="/img/profile.png" width="40" height="40" id="profile-icon">
            <% if (username) { %>
                <a><%= username %></a>
            <% } else { %>
                <a href="/login">Login</a>
            <% } %>
        </div>
    </div>
</div>
